:root {
    /* Primäre Farben */
    --primary-color: #b9b7b7;
    --secondary-color: #23252d;
    --accent-color: #888;
    --highlight-color: #929d97;
    --border-color: #333;
    --button-color: #2c313e;
    --button-shadow: #888;
    --button-active: #565e6a;
    --button-border: #888;

    /* Textfarben */
    --text-primary: #67879a;
    --text-secondary: #23272f;
    --text-accent: #333a4a;
    --text-shadow: #333a4a;

    /* LED und Leuchteffekte */
    --led-color: #ca1a21;
    --led-glow: #ff552e;

    /* Andere Farbtöne */
    --display-background: #929d97;
    --button-hover: #23272f;
    --dark-shadow: #23272f;
    --light-shadow: #888;
    --light-border: #888;
    --speaker-color: #0a0717;
    --speaker-shadow: #aaa;
    --button-dark: #565e6a;
    --button-light: #888;
    --background-dark: #23272f;
    --button-inner-shadow: #aaa;
    --arc-background: #67879a;
    --arc-overlay: #23272f;
}

.gameboy {
    position: relative;
    width: 350px;
    height: 570px;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--primary-color);
    box-shadow: 0 -5px 0 var(--dark-shadow), 0 5px 0 var(--accent-color);
    font-family: sans-serif;
    -webkit-user-select: none;
    cursor: default;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: calc(100% - 34px);
        left: 5px;
        width: calc(100% - 10px);
        height: 50px;
        border-radius: 50%;
        background-color: var(--primary-color);
        box-shadow: 0 5px 0 var(--accent-color);
        border-bottom: 2px solid var(--light-border);
    }

    .screen-area {
        position: relative;
        padding: 35px 50px 5px 50px;
        border-radius: 15px;
        background-color: var(--secondary-color);
        color: var(--text-primary);
        box-shadow: 0 2px 0 black, 0 -2px 0 black, -2px 0 0 black, 2px 0 0 black;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: calc(100% - 20px);
            left: 5px;
            width: calc(100% - 10px);
            height: 30px;
            border-radius: 50%;
            background-color: var(--secondary-color);
            box-shadow: 0 2px 0 black;
        }

        .power {
            position: absolute;
            display: block;
            width: 50px;
            left: 0;
            top: 80px;
            font-size: 10px;
            letter-spacing: -0.5px;
            text-align: center;

            .indicator {
                line-height: 14px;

                .led {
                    position: relative;
                    display: inline-block;
                    background-color: var(--led-color);
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    box-shadow: 0 0 10px var(--led-glow);
                    z-index: 5;
                }

                .arc {
                    position: relative;
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    margin-left: -2px;

                    &::before {
                        position: absolute;
                        left: 3px;
                        content: '';
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: var(--arc-background);
                    }

                    &::after {
                        position: absolute;
                        left: 0;
                        content: '';
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: var(--arc-overlay);
                    }
                }
            }
        }

        .display {
            background-color: var(--highlight-color);
            height: 190px;
            width: 210px;
            border-radius: 3px;
            margin-bottom: 15px;
        }

        .label {
            position: relative;
            text-align: center;
            font-size: 20px;
            z-index: 5;

            .title {
                display: inline;
                font-weight: bold;
                font-style: italic;
            }
            .subtitle {
                display: inline;
                font-family: "Comic Sans MS", serif;
                font-weight: bold;
                font-size: 22px;
                letter-spacing: -1px;
            }
        }
    }

    .nintendo {
        padding: 5px;
        width: 120px;
        color: var(--border-color);
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        border: 2px solid var(--border-color);
        border-radius: 20px;
        margin: 30px auto 0;
    }

    .controls {
        display: flex;
        justify-content: space-between;

        .dpad {
            position: relative;
            display: inline-block;
            width: 90px;
            height: 90px;
            z-index: 5;

            > * {
                width: 33%;
                height: 33%;
                position: absolute;
                background-color: var(--button-active);
                cursor: pointer;

                i {
                    position: relative;
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                    height: 100%;
                    font-size: 28px;
                    color: var(--text-accent);
                    text-shadow: 0 -0.5px 0 var(--text-shadow);
                }
            }

            .up {
                top: calc(0% + 4px);
                left: 33%;
                border-top: 4px solid black;
                border-left: 4px solid black;
                border-right: 4px solid black;
                border-radius: 5px 5px 0 0;

                &:active {
                    background: linear-gradient(to top, var(--button-active) 0%, var(--button-hover) 100%);
                }

                i {
                    top: -5px;
                }
            }

            .right {
                top: 33%;
                left: calc(66% - 4px);
                border-top: 4px solid black;
                border-bottom: 4px solid black;
                border-right: 4px solid black;
                border-radius: 0 5px 5px 0;
                box-shadow: 0 -2px 0 var(--button-border) inset;

                &:active {
                    background: linear-gradient(to right, var(--button-active) 0%, var(--button-hover) 100%);
                }

                i {
                    top: -5px;
                }
            }

            .down {
                top: calc(66% - 4px);
                left: 33%;
                border-left: 4px solid black;
                border-bottom: 4px solid black;
                border-right: 4px solid black;
                border-radius: 0 0 5px 5px;
                box-shadow: 0 -2px 0 var(--button-border) inset;

                &:active {
                    background: linear-gradient(to bottom, var(--button-active) 0%, var(--button-hover) 100%);
                }
            }

            .left {
                top: 33%;
                left: calc(0% + 4px);
                border-top: 4px solid black;
                border-bottom: 4px solid black;
                border-left: 4px solid black;
                border-radius: 5px 0 0 5px;
                box-shadow: 0 -2px 0 var(--button-border) inset;

                i {
                    top: -5px;
                }

                &:active {
                    background: linear-gradient(to left, var(--button-active) 0%, var(--button-hover) 100%);
                }
            }

            .middle {
                top: 33%;
                left: 33%;
                z-index: -5;

                &::after {
                    content: '';
                    position: absolute;
                    top: 20%;
                    left: 20%;
                    display: inline-block;
                    border: 1px solid var(--button-border);
                    background: linear-gradient(to bottom, #6d7075 0%, #6d7075 30%, var(--background-dark) 70%, var(--background-dark) 100%);
                    border-radius: 50%;
                    height: 60%;
                    width: 60%;
                }
            }

            .up-down {
                background-color: var(--button-active);
                border: 4px solid black;
                border-radius: 5px;
                width: 20px;
                height: 60px;
            }

            .left-right {
                background-color: var(--button-active);
                border: 4px solid black;
                border-radius: 5px;
                width: 60px;
                height: 20px;
            }
        }

        .a-b {
            position: relative;
            display: inline-block;
            width: 120px;
            height: 90px;

            .a, .b {
                position: absolute;
                display: inline-block;
                font-size: 20px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
                background-color: var(--button-color);
                border-bottom: 2px solid var(--button-border);
                box-shadow: -1px 1px 5px black, 0 0 5px black inset;
                text-shadow: 0 -1px 1px var(--button-border);
                color: var(--button-color);
                text-align: center;
                -webkit-user-select: none;
                cursor: pointer;
                transition: box-shadow 0.1s ease-out, border 0.1s ease-out, line-height 0.2s ease-out;

                &:active {
                    box-shadow: -1px 1px 1px black, 0 0 5px black inset;
                    border-width: 0;
                    line-height: 45px;
                }
            }

            .a {
                top: 15px;
                right: 10px;
            }

            .b {
                top: 35px;
                left: 0;
            }
        }
    }

    .start-select {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;

        .select, .start {
            display: inline-block;
            color: var(--light-shadow);
            letter-spacing: -1px;
            width: 60px;
            font-size: 10px;
            text-align: center;
            margin-top: 60px;

            &::before {
                content: '';
                display: block;
                width: 30px;
                height: 10px;
                margin: 0 auto 5px;
                border-radius: 40%;
                background: linear-gradient(to bottom, #0b0a1c 0%, #0b0a1c 30%, #62636c 70%, #62636c 100%) no-repeat;
                border: 2px solid #0b0a1c;
                box-shadow: 0 -2px 1px var(--button-inner-shadow);
                cursor: pointer;
            }

            &:active::before {
                background: linear-gradient(to bottom, #0b0a1c 0%, #0b0a1c 50%, #62636c 100%);
            }
        }
    }

    .speaker {
        position: absolute;
        display: flex;
        width: 75px;
        height: 75px;
        right: 15px;
        bottom: 5px;
        justify-content: space-between;
        flex-wrap: wrap;
        z-index: 10;
        transform: skewY(-10deg);

        .dot {
            width: 7px;
            height: 7px;
            margin: 1px;
            border-radius: 50%;
        }

        .dot.placeholder {
            background-color: transparent;
        }

        .dot.open {
            background-color: var(--speaker-color);
            box-shadow: 0 0 2px var(--speaker-shadow) inset;
        }

        .dot.closed {
            background: linear-gradient(to bottom, var(--button-dark) 0%, var(--button-light) 100%);
            box-shadow: 0 0 2px var(--speaker-shadow) inset;
        }
    }
}
